* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

header {
    display: flex;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

header h1 {
    padding: 0.5rem;
    margin: 0.75rem 0.75rem 1rem 1rem;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
    width: 35%;
    vertical-align: middle;
}

nav {
    margin: 1rem 0rem 1rem 0.75rem;
    padding: 1rem 0 1rem 1rem;
    width: 65%;
    vertical-align: middle;
    justify-content: space-between
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    float: right;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    margin: 0 1rem 0 0;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.allen-photo {
    display: flex;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 29%;
    margin-right: 1.5rem;
    justify-content: right;
}

.introduction {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 40%;
    margin-left: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
}

.contents {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

aside {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

aside h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;   
    padding: 1rem; 
    width: 100%;
}

aside div img {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 1rem;
}

aside p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 1rem 2.1rem 1rem 2.1rem;   
}

.projects {
    width:70%;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.projects h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;   
    padding: 1rem; 
    width: 100%;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project {
    flex: 1 0 200px;
    border-style: solid;
    border-color: rgba(146, 161, 176, 0.3);
    border-width: 1px;
    position: relative;
    text-align: center;
    color: white;
    padding: 1rem;
}

.project img {
    filter: blur(8px);
    -webkit-filter: blur(0.1px);
}

.project1 {
    flex: 2 1 200px;
    border-style: solid;
    border-color: rgba(146, 161, 176, 0.3);
    border-width: 1px;
    position: relative;
    text-align: center;
    color: white;
    padding: 1rem;
}

.project1 img {
    filter: blur(8px);
    -webkit-filter: blur(0.2px);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 37, 37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
}

.contact-me {
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    justify-content: center;
    display: block;
}

.contact-me h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;   
    padding: 1rem; 
    width: 100%;
    
}

.contact-method {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.linkedin {
    width: auto;
    padding: 1.2rem 0.5rem 1rem 0.5rem;
}

.email {
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
}

.footer {
   padding: 30px;
   clear: both;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   /*border-top: groove thin rgba(146, 161, 176, 0.3);*/
}

.footer h5 {
    font-size: 20px;
}

/* Tablet smartphones*/
@media screen and (max-width: 1260px) {
    .allen-photo {
        width: 100%;
        justify-content: center;
    }
    .introduction {
        width: 100%;
        margin-right: 1.5rem;
        justify-content: center;
        text-align: center;
    }
}

/* Small smartphones*/
@media screen and (max-width: 736px) {
    nav {
        width: 60%;
    }
    header h1 {
        width: 40%;
    }
}

/* Smaller smartphones*/
@media screen and (max-width: 650px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header h1 {
        color: rgb(0, 0, 0);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 250%;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        padding: 0 0 0 0;
}

    nav {
        margin: 0.2rem 0.2rem 0.2rem 0.2rem;
        padding: 0 0 0 0;
        width: 100%;
        vertical-align: middle;
        justify-content: space-between;
        text-align: center;
    }
    
    nav a {
        font-size: 1.3rem;
        color: black;
        float: none
    }
}

/* Small smartphones*/
@media screen and (max-width: 1470px) {
    aside {
        width: 50%;
    }
    .projects {
        width: 50%;
    }
}

/* Small smartphones*/
@media screen and (max-width: 900px) {
    aside {
        width: 100%;
    }
    .projects {
        width: 100%;
    }
    aside p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.3rem;
    }
}
